body {
    /* font-family: 'Heebo, Helvetica, Arial, sans-serif';font-size: 20px; */
    /* font-family: "Times New Roman", Times, serif;font-size: 20px; */
  font-size: 18px;
}

body, html {
    height: 100%;
    margin: 0;
}

.parallax3 {
  /* The image used */
  /* background-image: url("img/paralax.jpg");
  background: linear-gradient(#000000,#161616 ); */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.705), 
      rgb(0, 0, 0)
    ), url("img/paralax3.jpg");
  /* Set a specific height */
  min-height: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  /* background-image: url("img/paralax.jpg");
  background: linear-gradient(#000000,#161616 ); */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.705), 
      rgba(0, 0, 0, 0.651)
    ), url("img/hero-bg.webp");
  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
    /* The image used */
    /* background-image: url("img/paralax.jpg");
    background: linear-gradient(#000000,#161616 ); */
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.705), 
        rgb(0, 0, 0)
      ), url("img/paralax2.jpg");
    /* Set a specific height */
    min-height: 200px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}
  
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 50px;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: linear-gradient(#000000,#000000 );
  padding: 12px 0;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Times New Roman", Times, serif; */
  color: #fff;
  font-size: 15px;
  padding: 0 4px;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #cfcfcf;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #000000;
  font-weight:500;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #cfcfcf;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (max-width: 575.98px) {
    header.home-hero video {
        display: none;
   }
}
  
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(45, 37, 38, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #493c3e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #cfcfcf;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #e43c5c;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

.navbar .social {
  display: flex;
  flex-direction: row;
}
      
.hero {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        rgba(17, 17, 17, 0.684), 
        rgba(0, 0, 0, 0.918)
      );
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    height: 100%;
}

video#heroVideo {
    min-width: 100%;
    height: 100%;
    z-index: -100;
    background: url(placeholder.jpg) no-repeat;
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: 100px; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
    background-size: cover;
    /* color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        rgba(41, 41, 41, 0.301), 
        rgba(37, 36, 36, 0.842)
      ), url("img/hero-bg.webp");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    height: 100%; */
}

.hero .intro-text {
    text-align: center;
    width: 50%;
    margin-top: 150px;
}

.hero .intro-text .title {
    font-family: "Times New Roman", Times, serif;
}

.hero .intro-text .description {
    color: rgb(199, 199, 199);
    font-weight: 400;
    font-size: 22px;
}

.hero .intro-text .button {
    background-color: #ffffff;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    margin: 50px 2px;

    -webkit-box-shadow: 0px 0px 40px -6px #000000; 
    box-shadow: 0px 0px 40px -6px #000000;
    transition: 0.25s;
}

.hero .intro-text a:hover,
.hero .intro-text a:focus { 
  border-color: var(--hover);
  color: rgb(0, 0, 0);
}

.hero .intro-text .pulse:hover, 
.hero .intro-text .pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(152, 152, 152, 0.273);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(152, 152, 152, 0); }
}

.consulting {
    /* background: linear-gradient(to right, #181818, #09070bd5 25%, #6b6b6b 25%, #888888 50%); */
    background-color: #0a0a0a;
    padding: 5% 10% 0 10%;
    padding-bottom: 100px;
}

.consulting .header {
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 9rem;
}

.consulting .header:first-child {
}

.consulting .header h1 {
    font-size: 30px;
}

.consulting .header h1 hr {
    width: 5%;
    border: 1px solid white;
    opacity: 1;
}

.consulting .header .title {
    color: rgb(255, 255, 255);
}

.consulting .header .description {
    color: rgb(177, 177, 177);
    font-size: 18px;

}

.consulting .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consulting .design-card {
    margin-bottom: 0px;
    height: 300px;
    width: 80%;
    display: flex;
    flex-direction: row;

    color: white;
    background-color: #181819;
    /* -webkit-box-shadow: 0px 0px 40px -6px #00000042; 
    box-shadow: 0px 0px 40px -6px #00000049; */
}

.consulting #soft-consulting {
  background-color: rgb(32, 32, 32);
}

.consulting #sales {
  background-color: rgb(32, 32, 32);
}

.consulting .design-card .img-container {
  width: 50%;
}

.consulting .design-card #market {
  background: linear-gradient(
    rgba(0, 0, 0, 0.918), 
    rgba(0, 0, 0, 0.877)
  ), url("img/market-research\ \(1\).webp") no-repeat center;
  background-size: cover;
}

.consulting .design-card #sales {
  background: linear-gradient(
    rgba(0, 0, 0, 0.911), 
    rgba(0, 0, 0, 0.925)
  ), url("img/sales.webp") no-repeat center;
  background-size: cover;
}

.consulting .design-card #soft {
  background: linear-gradient(
    rgba(0, 0, 0, 0.89), 
    rgba(0, 0, 0, 0.836)
  ), url("img/soft-landing.webp") no-repeat center;
  background-size: cover;
}

.consulting .design-card #project {
  background: linear-gradient(
    rgba(0, 0, 0, 0.884), 
    rgba(0, 0, 0, 0.856)
  ), url("img/projectmanagement-hr.webp") no-repeat center;
  background-size: cover;
}

.consulting .design-card .content {
    width: 50%;
    border: 1px solid #dfdfdf49
}

.consulting .design-card .content .card-title {
    padding: 50px 0 0 50px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}

.consulting .design-card .content hr {
    width: 70%;
    margin-left:55px;
}

.consulting .design-card .content .bullets {
    color: #dfdfdf;
    font-size:22px;
    margin-left: 55px;
}

.consulting .design-card .content .bullets li {
    margin-bottom: 10px;
}

.consulting .design-card img {
    max-width: 50%;
    max-height: 100%;
}

.capital-raise {
  background-color: #000000e8;
  color: rgb(255, 255, 255);
}

.capital-raise .header{
    font-weight: 500;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;

    display: block; /* hvr css */
    border-radius: 50px;
    text-align: center;
}

.capital-raise .header hr{
  width: 5%;
  border: 1px solid rgb(255, 255, 255);
  opacity: 1;
  margin: 20px auto;
}

.capital-raise .header .title {
  font-size: 30px;
}

.capital-raise .header .description{
  width: 70%;
  align-items: center;
  margin: 20px auto;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 300;
}

.capital-raise .content {
  margin: 0 300px 0 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 150px;
  gap: 20px;
  text-align: center;
}
.capital-raise .content .capital-card{
  width: 50%;
  background-color: rgb(32 32 32);
  border-radius: 10px;
  padding: 40px;
}

.capital-raise .content .capital-card .card-icon i{
  font-size: 30px;
  color: rgba(255, 255, 160, 0.76);

  padding-bottom: 20px;
}

.capital-raise .content .capital-card .card-title{
  padding-bottom: 30px;
  font-weight: bold;
  color: white;
}

.capital-raise .content .capital-card .card-content{
  font-size: 16px;
}

.capital-raise .content .capital-card .card-content p{
  color: rgb(233, 233, 233);
}

.outsourcing {
    background:  #0f0f0f;
    color: rgb(255, 255, 255);
    padding: 2% 0 0 0;
    padding-bottom: 100px;
}

.outsourcing .header {
    text-align: center;
    align-items: center;
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 80px;

}

.outsourcing .header .title {
  font-size: 30px;
}

.outsourcing .header hr {
    width: 5%;
    border: 1px solid white;
    opacity: 1;
    margin: 20px auto;
}

.outsourcing .description {
    width: 50%;
    align-items: center;
    margin: 20px auto;
    color: grey;
    font-size: 18px;
}

.outsourcing .cards {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 0 300px;
}

/* .outsourcing .cards .design {
    background-color: #2F2F2F;
}

.outsourcing .cards .marketing {
    background: linear-gradient(#626262a8, #626262);
}

.outsourcing .cards .it {
    background-color: #2F2F2F;
}

.outsourcing .cards .sales {
    background: linear-gradient(#AAAAAA, #AAAAAA);
} */

.outsourcing .design-card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    align-items: center;

    width: 70%;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 10px;

    /* -webkit-box-shadow: 0px 0px 15px -6px #000000; 
    box-shadow: 0px 0px 15px -6px #000000; */
}

.outsourcing .design-card .title-wrapper {
    grid-column: 1;
    display: flex;
    justify-content: center;
}

.outsourcing .design-card .card-title {
    text-align: center;
    color: black;
    background-color: rgb(209, 209, 209);
    font-weight: bold;
    width: 50%;
    display: inline-block;

    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.outsourcing .design-card .content {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.partners {
    background-color: white;
    text-align: center;
    margin-bottom: 200px;
}

.partners .header {
    margin: 0 150px 100px 100px;
    padding-top: 150px;
    font-size: 30px;
}

.partners .header hr {
    width: 5%;
    border: 1px solid rgb(0, 0, 0);
    opacity: 1;
    margin: 10px auto;
}

.partners .logo-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    margin:auto 150px;
    
}

.partners .logo-container img {
    max-width: 200px;
    max-height: 200px;
}

.contact {
    background: linear-gradient(134.69deg, #dadada 1.86%, rgba(126, 126, 126, 0.29) 107.99%);
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact .header {
    margin-bottom: 70px;
    font-weight: bolder;
    
}

.contact .header hr {
    width: 5%;
    border: 1px solid rgb(0, 0, 0);
    opacity: 1;
    margin: 10px auto;
}

.contact .contact-form {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-template-rows: auto;
    min-height: 200px;
}

.contact .contact-form .form-item-wrapper label {
    font-size: 10px;
}
.contact .contact-form .contact-input {
    box-sizing: border-box;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    height: 50px;
}

.contact .contact-form #email {
    grid-column: 1;
    grid-row: 1;
}

.contact .contact-form #name {
    grid-column: 2;
    grid-row: 1;
}

.contact .contact-form #phone {
    grid-column: 1;
    grid-row: 2;
}

.contact .contact-form #interested {
    grid-column: 2;
    grid-row: 2;
}

.contact .contact-form .dropdown {
    box-sizing: border-box;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    height: 50px;
}

.contact .contact-form .message {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;

    width: 100%;
}

.contact .contact-form #message {
    height: 300px;
}

.contact .contact-form #submit {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 150px;
    margin: 20px auto;
    height: 50px;

    background-color: #000000;
    border-radius: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;

    -webkit-box-shadow: 0px 0px 20px -6px #000000; 
    box-shadow: 0px 0px 20px -6px #000000;
}

footer {
    padding-top: 30px;
    background-color: black;
    color: rgb(184, 184, 184);
    font-size: 14px;
}

footer h6 {
    color: white;
}

footer a {
    text-decoration: none;
}

footer .social a {
  color: rgba(255, 255, 255, 0.438);
}

footer .copyright {
    color: grey;
    font-size: 12px;

}

footer .copyright a {
  color: rgba(255, 255, 255, 0.438);
  margin-left: 10px;

}
footer span {
  color: grey;
  font-size: 12px;
}


