body {
    /* font-family: 'Heebo, Helvetica, Arial, sans-serif';font-size: 20px; */
    /* font-family: "Times New Roman", Times, serif;font-size: 20px; */
  font-size: 18px;
}

body, html {
    height: 100%;
    margin: 0;
}

.parallax3 {
  /* The image used */
  /* background-image: url("img/paralax.jpg");
  background: linear-gradient(#000000,#161616 ); */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.705), 
      rgb(0, 0, 0)
    ), url("img/paralax3.jpg");
  /* Set a specific height */
  min-height: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  /* background-image: url("img/paralax.jpg");
  background: linear-gradient(#000000,#161616 ); */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.705), 
      rgba(0, 0, 0, 0.651)
    ), url("img/hero-bg.webp");
  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
    /* The image used */
    /* background-image: url("img/paralax.jpg");
    background: linear-gradient(#000000,#161616 ); */
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.705), 
        rgb(0, 0, 0)
      ), url("img/paralax2.jpg");
    /* Set a specific height */
    min-height: 200px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}
  
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 50px;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: linear-gradient(#000000,#000000 );
  padding: 12px 0;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Times New Roman", Times, serif; */
  color: #fff;
  font-size: 15px;
  padding: 0 4px;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #cfcfcf;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #000000;
  font-weight:500;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #cfcfcf;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (max-width: 575.98px) {
    header.home-hero video {
        display: none;
   }
}
  
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(45, 37, 38, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #493c3e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #cfcfcf;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #e43c5c;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

.navbar .social {
  display: flex;
  flex-direction: row;
}
      
.hero {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        rgba(36, 36, 36, 0.507), 
        rgba(0, 0, 0, 0.726)
      );
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    height: 100%;
}

video#heroVideo {
    min-width: 100%;
    height: 100%;
    z-index: -100;
    background: url(placeholder.jpg) no-repeat;
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: 100px; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
    background-size: cover;
    /* color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        rgba(41, 41, 41, 0.301), 
        rgba(37, 36, 36, 0.842)
      ), url("img/hero-bg.webp");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    height: 100%; */
}

.hero .intro-text {
    text-align: center;
    width: 50%;
    margin-top: 150px;
}

.hero .intro-text .title {
    font-family: "Times New Roman", Times, serif;
}

.hero .intro-text .description {
    color: rgba(199, 199, 199, 0.571);
    font-weight: 100;
    font-size: 23px;
}

.hero .intro-text .button {
    background-color: #e9e9e900;
    color: rgb(224, 224, 224);
    border: 1px solid white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    margin: 50px 2px;
}

.hero .intro-text a:hover,
.hero .intro-text a:focus { 
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.hero .intro-text .pulse:hover, 
.hero .intro-text .pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(152, 152, 152, 0.273);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(152, 152, 152, 0); }
}

.consulting {
    /* background: linear-gradient(to right, #181818, #09070bd5 25%, #6b6b6b 25%, #888888 50%); */
    background-color: #0a0a0a;
    padding: 5% 15% 0 15%;
    padding-bottom: 100px;
    -webkit-box-shadow: 0px 0px 40px -6px #0a0a0a; 
    box-shadow: 0px 0px 160px -6px #151515;
}

.consulting .header {
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* margin-left: 9rem; */
    font-weight: 400;
}

.consulting .header:first-child {
}

.consulting .header h1 {
    font-size: 36px;
    font-weight: 600;
}

.consulting .header h1 hr {
    width: 5%;
    border: 1px solid rgb(240, 253, 97);
    opacity: 1;
}

.consulting .header .title {
    color: rgb(255, 255, 255);
}

.consulting .header .description {
    color: rgb(168, 168, 168);
    margin-top: 20px;
    font-size: 18px;
}

.consulting .cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.consulting .design-card {
    padding-right: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    height: 350px;
    width: 30%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    text-align: center;

    color: rgb(174, 174, 174);
    background-color: #f3f3f300;
    /* -webkit-box-shadow: 0px 0px 40px -6px #000000; 
    box-shadow: 0px 0px 40px -6px #000000; */
}

.consulting .design-card .card-icon {
  height: 0px;
  border-radius: 5px;
  background-color: rgb(253, 255, 113);

  text-align: center;
}

.consulting .design-card .card-icon img {
  padding: 10px
}

/* .consulting #soft-consulting {
  background-color: rgb(32, 32, 32);
}

.consulting #sales {
  background-color: rgb(32, 32, 32);
} */

.consulting .design-card .img-container {
  width: 50%;
}

/* .consulting .design-card #market {
  background: linear-gradient(
    rgba(0, 0, 0, 0.918), 
    rgba(0, 0, 0, 0.877)
  ), url("img/market-research\ \(1\).webp") no-repeat center;
  background-size: cover;
}

.consulting .design-card #sales {
  background: linear-gradient(
    rgba(0, 0, 0, 0.911), 
    rgba(0, 0, 0, 0.925)
  ), url("img/sales.webp") no-repeat center;
  background-size: cover;
}

.consulting .design-card #soft {
  background: linear-gradient(
    rgba(0, 0, 0, 0.89), 
    rgba(0, 0, 0, 0.836)
  ), url("img/soft-landing.webp") no-repeat center;
  background-size: cover;
}

.consulting .design-card #project {
  background: linear-gradient(
    rgba(0, 0, 0, 0.884), 
    rgba(0, 0, 0, 0.856)
  ), url("img/projectmanagement-hr.webp") no-repeat center;
  background-size: cover;
} */

.consulting .design-card .content {
    width: 100%;
}

.consulting .design-card .content .card-title {
    margin-bottom: 30px;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    border-top: 1px solid rgba(245, 255, 99, 0.201);
}

.consulting .design-card .content hr {
    width: 70%;
    margin-left:55px;
}

.consulting .design-card .content .bullets {
    color: #dfdfdf;
    font-size:22px;
    margin-left: 55px;
}

.consulting .design-card .content .bullets li {
    margin-bottom: 10px;
}

.consulting .design-card img {
    max-width: 50%;
    max-height: 100%;
}

.capital-raise {
  background-color: #020202f0;
  color: rgb(255, 255, 255);
  padding: 5% 15% 0 15%;

}

.capital-raise .header{
    font-weight: 500;
    padding-top: 100px;
    padding-bottom: 50px;

}

.capital-raise .header hr{
  width: 5%;
  border: 1px solid rgb(255, 255, 255);
  opacity: 1;
  margin: 20px auto;
}

.capital-raise .header .title {
  font-size: 30px;
  font-weight: 300;
}

.capital-raise .header .description{
  align-items: center;
  margin: 10px auto;
  color: rgba(255, 255, 255, 0.705);
  font-size: 18px;
  font-weight: 300;
}

.capital-raise .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
  gap: 20px;
}

.capital-raise .content .capital-card{
  width: 50%;
  background-color: rgb(15 15 15);
  border-radius: 10px;
  padding: 40px;
}

.capital-raise .content .capital-card .card-icon i{
  font-size: 35px;
  color: rgba(255, 255, 160, 0.76);
  padding-bottom: 15px;
}

.capital-raise .content .capital-card .card-title{
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.capital-raise .content .capital-card .card-content{
  font-size: 18px;
  color: rgb(130, 130, 130);

}

.capital-raise .content .capital-card .card-content p{
  color: rgb(130, 130, 130);
}

.outsourcing {
    background:  #0f0f0f;
    color: rgb(255, 255, 255);
    padding: 2% 0 0 0;
    padding-bottom: 100px;
}

.outsourcing .header {
    text-align: center;
    align-items: center;
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.outsourcing .header .title {
  font-size: 30px;
  font-weight: 300;
}

.outsourcing .header hr {
    width: 5%;
    border: 1px solid white;
    opacity: 1;
    margin: 20px auto;
}

.outsourcing .description {
    width: 50%;
    align-items: center;
    margin: 20px auto;
    color: grey;
    font-size: 18px;
}

.outsourcing .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 300px;
}

.outsourcing .design-card {
    height: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 500px;
}

.outsourcing .design-card .title-wrapper {
    grid-column: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.outsourcing .design-card .card-title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: #f6fe8398;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.outsourcing .design-card .content {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: rgb(207, 207, 207);
}

.partners {
    background-color: white;
    text-align: center;
    margin-bottom: 200px;
}

.partners .header {
  text-align: center;
  align-items: center;
  margin: 100px;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 18px;
  font-weight: 300;
}

.partners .header .title {
  font-size: 40px;
  font-weight: 300;
}

.partners .header hr {
    width: 5%;
    border: 1px solid rgb(0, 0, 0);
    opacity: 1;
    margin: 10px auto;
}

.partners .logo-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    margin: auto 150px;
}

.partners .logo-container img {
    max-width: 200px;
    max-height: 200px;
}

.contact {
    background: linear-gradient(134.69deg, #dadada 1.86%, rgba(126, 126, 126, 0.29) 107.99%);
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact .header {
    margin-bottom: 70px;
    font-weight: 300;
}

.contact .header .title {
  margin-bottom: 70px;
  font-weight: 300;
  font-size: 35px;
}


.contact .header hr {
    width: 5%;
    border: 1px solid rgb(0, 0, 0);
    opacity: 1;
    margin: 10px auto;
}

.contact .contact-form {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-template-rows: auto;
    min-height: 200px;
}

.contact .contact-form .form-item-wrapper label {
    font-size: 16px;
    margin-left: 5px;
    color:#00000094
}

.contact .contact-form .contact-input {
    box-sizing: border-box;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    height: 50px;
}

.contact .contact-form #email {
    grid-column: 2;
    grid-row: 1;
}

.contact .contact-form #name {
    grid-column: 1;
    grid-row: 1;
}

.contact .contact-form #company {
  grid-column: 1;
  grid-row: 2;
}

.contact .contact-form #website {
    grid-column: 2;
    grid-row: 2;
}

.contact .contact-form #interested {
    grid-column: 1;
    grid-row: 3;
}

.contact .contact-form .dropdown {
    box-sizing: border-box;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    height: 50px;
    padding-left: 5px;
}

.contact .contact-form #interested {
  grid-column: 1;
  grid-row: 3;
}

.contact .contact-form #accept-terms {
  grid-row: 7;
  grid-column-start: 1;
  grid-column-end: 3;

}

.contact .contact-form .message {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;

    width: 100%;
}

.contact .contact-form #message {
    height: 300px;
}

.contact .contact-form #submit-button {
  grid-row: 6;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 50px 0 0 0;
  text-align: center;
}

.contact .contact-form #submit {
    width: 150px;
    margin: 20px auto;
    height: 50px;

    background-color: #000000;
    border-radius: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    -webkit-box-shadow: 0px 0px 20px -6px #000000; 
    box-shadow: 0px 0px 20px -6px #000000;
}

footer {
    padding-top: 30px;
    background-color: black;
    color: rgb(184, 184, 184);
    font-size: 14px;
}

footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

footer .first {
  justify-content: space-around;
  color: rgb(214, 214, 214);
  font-size: 30px;
}

footer .first .logo {
  max-height: 50px;
}

footer h6 {
    color: white;
}

footer a {
    text-decoration: none;
}

footer .social a {
  color: rgb(140, 140, 140);
  padding: 5px;
}

footer .copyright {
    color: grey;
    font-size: 12px;
    margin-left: 5px;
}

footer .copyright a {
  color: rgba(255, 255, 255, 0.438);
  margin-left: 10px;

}

.call-to-action {
  border: 1px solid white;
  color: white;
  background-color: rgba(255, 207, 117, 0);
  height: 40px;
  width: 150px;
}

.button-container {
  margin-top: 100px;
  text-align: center;
}

.glide {
  text-align: center;
}

.capital-container {
  text-align: center;
  padding-bottom: 80px;
}

.partners-button {
  color: black;
  border: 1px solid black;
}

#impressum {
  background-color: #000000;
}

.checkbox {
  grid-row: 6;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.terms-accept {
  font-size: 16px;
  color: grey;
}
