body {
  font-family: 'Merriweather';font-size: 20px;
    /* font-family: "Times New Roman", Times, serif;font-size: 20px; */
  font-size: 18px;
}

body, html {
    height: 100%;
    margin: 0;
}

.parallax3 {
  /* The image used */
  /* background-image: url("img/paralax.jpg");
  background: linear-gradient(#000000,#161616 ); */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.705), 
      rgb(0, 0, 0)
    ), url("img/paralax3.jpg");
  /* Set a specific height */
  min-height: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  /* background-image: url("img/paralax.jpg");
  background: linear-gradient(#000000,#161616 ); */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.705), 
      rgba(0, 0, 0, 0.651)
    ), url("img/hero-bg.webp");
  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
    /* The image used */
    /* background-image: url("img/paralax.jpg");
    background: linear-gradient(#000000,#161616 ); */
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.705), 
        rgb(0, 0, 0)
      ), url("img/paralax2.jpg");
    /* Set a specific height */
    min-height: 200px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}
  
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 50px;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: linear-gradient(#000000,#000000 );
  padding: 12px 0;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Times New Roman", Times, serif; */
  color: #fff;
  font-size: 15px;
  padding: 0 4px;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #cfcfcf;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #000000;
  font-weight:500;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #cfcfcf;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (max-width: 575.98px) {
    header.home-hero video {
        display: none;
   }
}
  
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(45, 37, 38, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #493c3e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #cfcfcf;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #e43c5c;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

.navbar .social {
  display: flex;
  flex-direction: row;
}
      
.hero {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        rgba(36, 36, 36, 0.507), 
        rgba(0, 0, 0, 0.726)
      );
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    height: 100%;
}

video#heroVideo {
    min-width: 100%;
    height: 100%;
    z-index: -100;
    background: url(placeholder.jpg) no-repeat;
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: 100px; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
    background-size: cover;
    /* color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        rgba(41, 41, 41, 0.301), 
        rgba(37, 36, 36, 0.842)
      ), url("img/hero-bg.webp");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    height: 100%; */
}

.hero .intro-text {
    text-align: center;
    width: 50%;
    margin-top: 150px;
}

.hero .intro-text .title {
    /* font-family: "Times New Roman", Times, serif; */
}

.hero .intro-text .description {
    color: rgba(199, 199, 199, 0.571);
    font-weight: 100;
    font-size: 23px;
}

.hero .intro-text .button {
    background-color: #fff490;
    color: rgb(51, 51, 51);
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    margin: 50px 2px;
    border-radius: 5px;
}

.hero .intro-text a:hover,
.hero .intro-text a:focus { 
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.hero .intro-text .pulse:hover, 
.hero .intro-text .pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(152, 152, 152, 0.273);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(152, 152, 152, 0); }
}

.consulting {
    /* background: linear-gradient(to right, #181818, #09070bd5 25%, #6b6b6b 25%, #888888 50%); */
    background-color: #0a0a0a;
    padding: 5% 15% 0 15%;
    padding-bottom: 100px;
    -webkit-box-shadow: 0px 0px 40px -6px #0a0a0a; 
    box-shadow: 0px 0px 160px -6px #151515;
}

.consulting .header {
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* margin-left: 9rem; */
    font-weight: 400;
}

.consulting .header:first-child {
}

.consulting .header h1 {
    font-size: 36px;
    font-weight: 600;
}

.consulting .header h1 hr {
    width: 5%;
    border: 1px solid rgb(240, 253, 97);
    opacity: 1;
}

.consulting .header .title {
    color: rgb(255, 255, 255);
}

.consulting .header .description {
    color: rgb(223, 223, 223);
    margin-top: 20px;
    font-size: 18px;
}

.consulting .cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.consulting .design-card {
    padding-right: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    height: 400px;
    width: 30%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 40px;
    padding-left: 30px;
    color: rgb(174, 174, 174);
    background-color: #292929;
    -webkit-box-shadow: 0px 0px 40px -6px #000000; 
    box-shadow: 0px 0px 40px -6px #000000;
}

.consulting .design-card .card-icon {
  height: 70px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 70px;
  -webkit-box-shadow: 0px 0px 20px -6px #000000; 
  box-shadow: 0px 0px 20px -6px #000000;
  text-align: center;
}

.consulting .design-card .card-icon img {
  padding: 20px
}

.consulting .design-card .img-container {
  width: 50%;
}

.consulting .design-card .content {
    width: 100%;
}

.consulting .design-card .content .card-title {
    margin-bottom: 30px;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
}

.consulting .design-card .content hr {
    width: 70%;
    margin-left:55px;
}

.consulting .design-card .content .bullets {
    color: #dfdfdf;
    font-size:22px;
    margin-left: 55px;
}

.consulting .design-card .content p {
    font-size: 16px;
}

.consulting .design-card img {
    max-height: 100%;
}

.capital-raise {
  background-color: #020202f0;
  padding: 5% 15% 0 15%;
  -webkit-box-shadow: 0px 0px 0ox -6px #414141; 
  box-shadow: 0px 0px 0px -6px #3a3a3a;
}

.capital-raise .header{
    padding-top: 100px;
    padding-bottom: 50px;
}

.capital-raise .header hr{
  width: 5%;
  border: 1px solid rgb(255, 225, 141);
  opacity: 1;

}

.capital-raise .header .title {
  font-size: 36px;
  font-weight: 600;
  color: rgb(255, 255, 255);

}

.capital-raise .header .description{
  align-items: center;
  margin: 10px auto;
  color: rgb(214, 214, 214);
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
}

.capital-raise .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
  gap: 20px;
}

.capital-raise .content .capital-card{
  width: 50%;
  background-color: rgb(15 15 15);
  border-radius: 10px;
  padding: 40px;
}

.capital-raise .content .capital-card .card-icon i{
  font-size: 35px;
  color: rgba(255, 255, 160, 0.76);
  padding-bottom: 15px;
}

.capital-raise .content .capital-card .card-title{
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.capital-raise .content .capital-card .card-content{
  font-size: 18px;
  color: rgb(130, 130, 130);

}

.capital-raise .content .capital-card .card-content p{
  color: rgb(130, 130, 130);
}

.outsourcing {
    background:  #1b1b1b;
    color: rgb(255, 255, 255);
    padding: 5% 15% 0 15%;
    -webkit-box-shadow: 0px 0px 40px -6px #0a0a0a; 
    box-shadow: 0px 0px 50px 100px #1b1b1b;
}

.outsourcing .header .title {
  font-size: 36px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.outsourcing .header hr {
    width: 5%;
    border: 1px solid rgb(255, 238, 140);
    opacity: 1;
}

.outsourcing .description {
    color: rgb(219, 219, 219);
    font-size: 18px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.partners {
    background-color: white;
    text-align: center;
    margin-bottom: 200px;
    padding-top: 100px;
}

.partners .header {
  text-align: center;
  align-items: center;
  margin: 100px;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 18px;
  font-weight: 300;
}

.partners .header .title {
  font-size: 36px;
  font-weight: 600;
}

.partners .header hr {
    width: 5%;
    border: 1px solid rgb(0, 0, 0);
    opacity: 1;
    margin: 10px auto;
}

.partners .logo-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    margin: auto 150px;
}

.partners .logo-container img {
    max-width: 200px;
    max-height: 200px;
}

.contact {
    background: linear-gradient(134.69deg, #dadada 1.86%, rgba(126, 126, 126, 0.29) 107.99%);
    color: rgb(44, 44, 44);
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 5% 15% 0 15%;
}

.contact .header {
    margin-bottom: 70px;
    font-weight: 300;
}

.contact .header .title {
  margin-bottom: 70px;
  font-size: 36px;
  font-weight: 600;
}

.contact .header p {
  font-weight: 300;
  font-size: 18px;
  color: grey;
   margin-top: 20px;
}

.contact .header hr {
    width: 5%;
    border: 1px solid rgb(0, 0, 0);
    opacity: 1;
    margin: 10px auto;
}

.contact .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.contact .description {
  flex-basis: 30%;
  margin-top: 20px;
  color: grey;
}

.contact .form {
  flex-basis: 60%;
}

.contact .contact-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: 200px;
}
.contact .contact-form .form-item-wrapper {
  width: 50%;
}
.contact .contact-form .form-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.contact .contact-form .description {
  font-weight: 300;
  font-size: 18px;
  color: grey;
  padding: 20px;
}

.contact .contact-form .form-item-wrapper label {
    font-size: 16px;
    margin-left: 5px;
    color:#00000094
}

.contact .contact-form .contact-input {
    box-sizing: border-box;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    height: 50px;
}

.contact .contact-form .dropdown {
    box-sizing: border-box;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    height: 50px;
    padding-left: 5px;
}

.contact .contact-form .message {
    width: 100%;
    height: 250px;
}

.contact .contact-form #message {
    height: 90%;
    width: 100%;
}

.contact .contact-form #submit-button {
  text-align: center;
}

.contact #accept-terms {

margin: 20px auto;
}

.contact .checkbox {
  display: flex;
flex-direction: row;
text-align: center;
justify-content: flex-end;
}

.contact .terms-accept {
  font-size:12px !important;
}

.contact .contact-form #submit {
    width: 150px;
    height: 50px;

    background-color: #000000;
    border-radius: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    -webkit-box-shadow: 0px 0px 20px -6px #000000; 
    box-shadow: 0px 0px 20px -6px #000000;
}

footer {
    padding-top: 60px;
    background-color: black;
    color: rgb(184, 184, 184);
    font-size: 14px;
}

footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

footer .first {
  justify-content: space-around;
  color: rgb(214, 214, 214);
  font-size: 30px;
}

footer .first .logo {
  max-height: 50px;
}

footer h6 {
    color: white;
}

footer a {
    text-decoration: none;
}

footer .social a {
  color: rgb(140, 140, 140);
  padding: 5px;
}

footer .copyright {
    color: grey;
    font-size: 12px;
    margin-left: 5px;
}

footer .copyright a {
  color: rgba(255, 255, 255, 0.438);
  margin-left: 10px;

}

.call-to-action {
  border-radius: 5px;
  color: #363636;
  height: 50px;
  width: 160px;
  background-color: #faed7d;
}

.button-container {
  margin-top: 100px;
  text-align: center;
}

.glide {
  text-align: center;
}

.capital-container {
  text-align: center;
  padding-bottom: 180px;
}

.outsourcing-container {
  text-align: center;
  padding-top: 180px;
  padding-bottom: 180px;

}

.partners-button {
  color: black;
  border: 1px solid black;
}

#impressum {
  background-color: #000000;
}

.checkbox {
  grid-row: 6;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.terms-accept {
  font-size: 16px;
  color: grey;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

html{
  scroll-behavior: smooth;
}

::selection{
  color: rgb(255, 255, 255);
  background: #1b1b1b;
}
.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 2px;
  background: rgb(255 222 134);
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  -webkit-box-shadow: 0px 0px 40px -6px #000000; 
  box-shadow: 0px 0px 40px -6px #000000;
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: rgb(32 32 32);
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
  color: white;
  -webkit-box-shadow: 0px 0px 40px -6px #000000; 
  box-shadow: 0px 0px 40px -6px #000000;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: rgb(31, 31, 31);
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);

}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #1b1b1b;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #fff897;
  font-size: 18px;
  /* box-shadow: 0 0 0 4px rgb(255, 237, 136), inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05); */
  box-shadow: 0px 0px 40px -6px #000000;
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 12px;
  right: -65px;
}
.row-2 section .icon{
  top: 12px;
  left: -65px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 18px;
  font-weight: 600;
}
.row section p{
  margin: 40px 0 17px 0;
  font-weight: 100;
  font-size: 16px;
  color: rgb(151, 151, 151);
}
.row section .bottom a{
  text-decoration: none;
  background: #faed7d;
  color: rgb(59, 59, 59);
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 10px 0;
  }
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.outsourcing .attribution { 
  font-size: 11px; text-align: center; 
}
.outsourcing .attribution a { 
  color: hsl(228, 45%, 44%); 
}

.outsourcing h1:first-of-type {
  font-weight: var(--weight1);
  color: var(--varyDarkBlue);
}

.outsourcing h1:last-of-type {
  color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
  .outsourcing h1 {
      font-size: 1.5rem;
  }
}

.outsourcing .box p {
  color: rgba(184, 184, 184, 0.815);
  font-size: 18px;
  margin-top: 30px;
}

.outsourcing .box {
  border-radius: 5px;
  background-color: rgb(27, 27, 27);
  padding: 30px;
  margin: 20px;  
  color: white;
  -webkit-box-shadow: 0px 0px 40px -6px #000000; 
  box-shadow: 0px 0px 40px -6px #000000;
}

.outsourcing img {
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
  height: 48px;
}

@media (max-width: 450px) {
  .outsourcing .box {
      height: 300px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .outsourcing .box {
      text-align: center;
      height: 180px;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--blue);
}
.orange {
  border-top: 3px solid rgb(253, 229, 147);
}

.outsourcing h2 {
  color: white;
  font-size: 18px ;
  font-weight: var(--weight3);
}


@media (min-width: 950px) {
  .outsourcing .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .outsourcing .row2-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .outsourcing .box-down {
      position: relative;
      top: 100px;
  }

  .outsourcing .box-down2 {
    position: relative;
    top: 180px;
}

  .outsourcing .box-up {
    position: relative;
    
}

  .outsourcing .box {
      width: 30%;
  }
  
}
